div {
	color: red;
}
.startpage {
	background-image: url('../images/timebkgrnd.jpg');
}

div.row {
	text-align: center;
	border: solid;
	border-radius: 5px;
	border-color: black;
}

.banner {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	color: red;
	border: solid;
	border-color: red;
	border-radius: 5px;
}

.choices {
	width: 100%;
	border: solid;
	border-color: red;
	border-radius: 5px;
}

#billted {
	background-image: url('../images/billandtedcover.jpg');
}

#backfut {
	background-image: url('../images/backtothefuturecover.jpg');
}

#docwho {
	background-image: url('../images/docwhodocs.jpg');
}

.cats {
	background-size: cover;
	height: 300px;
}

#stagebanner {
	width: 100%;
	text-align: center;
}

#showinfo {
	width: 100%;
	height: 260px;
	border-color: red;
	background: black;
}

#showbio {
	padding-top: 20px;
}

#showpic {
	height: 250px;
	width: auto;
}

.stagemenu {
	text-align: center;
	border: solid;
	height: 45px;
}

#mainstage {
	height: 400px;
	background-color: white;
	visibility: hidden;
}

.scoretime {
	background-color: white;
	width: 50px;
}

#scorebox {
	text-align: center;
}

footer {
	text-align: center;
}